* {
    font-family: 'Nunito', sans-serif;
}

.logo {
    width: 300px;
}

.hero-container {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-content {
    position: absolute;
    left: 250px;
    top: 70px;
    opacity: 1;
}

.hero {
    background: url('images/sid-saxena-8Uyu1rnirzU-unsplash.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 40px;
    transition: transform 2s;
    opacity: 0.5;
}

.hero:hover {
    transform: scale(1.15);
}

.hero-info {
    background-color: #dcecf7;
}

.hero-text {
    padding: 40px 50px;
}

.strong {
    color: #B57645;
    font-weight: bold;
    font-size: large;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    font-family: sans-serif;
    color: rgb(55, 54, 54);
}

a.btn {
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 11px 30px;
    background-color: #636363;
    background-image: linear-gradient(to bottom, #636363, #000);
    color: #fff;
    text-transform: uppercase;
}

a.btn:hover {
    background-image: linear-gradient(to bottom, #000, #000);
}

.about {}

.about-text {
    margin-left: 25px;
    width: 60%;
}

.services {
    margin-left: 25px;
}

.suppliers {
    padding: 25px;
    column-gap: 35px;
    background-color: #dcecf7;
}

.suppliers img {
    height: auto;
    width: 120px;
    background-position: center;
    background-size: cover;
    margin: 10px 10px 10px 100px;
}

footer p {
    padding: 25px;
}