* {
    font-family: 'Nunito', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.hero-container {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-content {
    position: absolute;
    left: 250px;
    top: 40px;
    opacity: 1;
}

.hero {
    background: url('images/home_install.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 40px;
    transition: transform 2s;
    opacity: 0.5;
}

.hero:hover {
    transform: scale(1.15);
}

.hero-info {
    background-color: #dcecf7;
}

.hero-text {
    padding: 40px 50px;
    margin: 0 120px;
}

.strong {
    color: #B57645;
    font-weight: bold;
    font-size: large;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    font-family: sans-serif;
    color: rgb(55, 54, 54);
}

a.btn {
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 11px 30px;
    background-color: #636363;
    background-image: linear-gradient(to bottom, #636363, #000);
    color: #fff;
    text-transform: uppercase;
}

a.btn:hover {
    background-image: linear-gradient(to bottom, #000, #000);
}

.about-text {
    margin-left: 25px;
    width: 60%;
}

.blue_section {
    background-color: #dcecf7;
}

.main-supplier {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: auto;
}

.card-img-top {
    padding: 15px;
}

.logo-cards {
    margin-top: 50px;
}

.contact {
    padding: 40px 10px;
}

.service_area {
    margin-left: 100px;
}

footer p {
    padding: 25px;
}