* {
    font-family: 'Nunito', sans-serif;
}

.logo {
    width: 300px;
}

.bgimage {
    width: 100%;
    height: 500px;
    background-image: url('images/nest.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.about {
    background-color: rgb(211, 211, 211);
}

.about-text {
    margin-left: 25px;
    width: 60%;
}

.services {
    margin-left: 25px;
}